extends layout

block content

  #top_bar
    h1 Chat 388
  
  #users_container
    h2 Users
    ul#users

  #chat_container
    ul#chat

    form#chat_form
      input#message(type='text', autocomplete='off')

  script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/chat.js')