.clear-floats() {
  &:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%; width: 100%;
  display: block;
}

body {
  min-width: 900px;
  position: relative;
}

html, body, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #00B7FF;
}

h1, h2 {
  margin: 0;
  padding: 15px 0;
}

input, textarea {
  &:focus {
    outline: none;
  }
}

#top_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #666;
  padding-left: 20px;
  height: 60px;
  color: white;
}

#users_container {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 20px;
  background: rgb(94, 192, 161);
}

#chat_container {
  position: absolute;
  top: 60px;
  left: 240px;
  right: 0;
  bottom: 0;
}

ul#chat {
  position: absolute;
  top: 0;
  bottom: 45px;
  left: 0;
  right: 0;
  overflow-y: auto; 
}

#chat li {
  left: 0; right: 0;
  border-bottom: 1px solid #ccc;
  display: block;
  position: relative;
  .clear-floats();

  & .name {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 8px;
    width: 150px;
    background: rgb(230, 230, 230);
    text-align: right;
  }

  & .message {
    padding: 8px;
  }

  & .messages {
    margin-left: 165px;
  }

  &.status .name {
    background: white;
  }
  &.status .message {
    color: #666;
  }

  &.me .name {
    background: rgb(205, 239, 255);
  }
  &.me {
    background: rgb(244, 252, 255)
  }

}

#load_old_messages {
  padding: 3px;
  text-align: center;
}

#chat_form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
}

#message {
  resize: none;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 9px;
  height: 25px;
  border: 1px solid #aaa;
  font-size: 14px;
}

#chat_form input[type=submit] {
  margin: 0;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px 20px;
  width: 120px;
  background: #f60;
  border: 1px solid #aaa;
  border-left-width: 0px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background: white;
  }
}